/* Importeer fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Assistant&family=Poppins&display=swap');


.sideBar {
    min-width: 3em;
    width: 4em;
    height: 100vh;
    background-image: linear-gradient(to top, #fbce6f,#ecf59a,#a9dc93,#8ab2ab, #838fcd); 
    position: absolute;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.sideBar p {

    position: relative;
    top: -20px;
    color: #FFFFFF;
}

.sideBarItem {
    margin-top: 0.5em;
    color: #FFFFFF;
    font-size: 22px;
    transition: 0.5s;
    justify-self: start;

}

.sideBarItem1 {
    padding: 0.5em 1em 0.5em 1em;
    margin-top: 25vh;
    writing-mode: vertical-lr;
    rotate: 180deg;
    color: #FFFFFF;
    font-size: 22px;

}

.sideBar img:hover {
    cursor: pointer;
    transform: scale(1.1);
}


.topBar {

    min-height: 3em;
    height: 4em;
    width: 100vw;
    background-image: linear-gradient(to left, #fbce6f,#ecf59a,#a9dc93,#8ab2ab, #a6aedb); 
    position: absolute;
    top: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: -1;
}

.circleIcon {
    width: 3em;
    height: 3em;
    background-color: #FFFFFF;
    border-radius: 50%;
    margin: 0.5em 1em 0.5em 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circleIcon img {
    width: 50%;
    height: 50%;
}

.chapterHeader {

    Font-size: 3em;
    font-weight: 100;
    color: #3F51B5;
    line-height: 40px;
    margin-left: 3em;  
}

.backContainer{
    display: inline-flex;
    transition: 0.5s;
    font-size: 1em;
    color: #8D74B1;
    font-weight: bold;
}

.backContainer:hover {
    transform: scale(1.1);
}

.main {
    padding-top: 5em;
    padding-left: 7em;
}


/* --------- KleurenCirkel ------------ */

.KleurenCirkelContainer{
    display: flex;
    justify-content: right;
    align-items: center;
    margin-top: 2em;
    margin-right: 2em;
    }